html {
    height: 100%;
    font-size: 100%;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font: 16px/24px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
}
.header {
    width: 1400px;
    justify-content: center;
    display: flex;
}
.logo {
    padding: 1pc;
    top: 0;
    width: 10px;
}
.nav {
    display: flex;
    align-items: flex-start;
    top: 0;
}
.menu {
    text-decoration: none;
    height: 100px;
    margin-left: 250px;
    right: 100px;
    top: 0;
    color: black;
    padding: 8px;
    font-family: Roboto, Times, serif;
}
.menu:hover {
    text-decoration: underline;
    cursor: copy;
    color: antiquewhite;
}
.menu:active {
    text-decoration: line-through;
}
.main {
    display: flex;
    align-items: baseline;
}
h1 {
    position: absolute;
    height: 144px;
    left: 5%;
    right: 0;
    top: 35%;
    font-family: Roboto, Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 71px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
p {
    position: absolute;
    height: 56px;
    left: 5%;
    right: 20%;
    top: 48%;

    font-family: Roboto, Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}
